<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "Nom du menu", listing_menu_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "Prix", pricing_menu_path, class: "sidebar-link active" %>
    <% if !@menu.price.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Description", description_menu_path, class: "sidebar-link active" %>
    <% if !@menu.listing_name.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Photos", photo_upload_menu_path, class: "sidebar-link active" %>
    <% if !@menu.photos.blank? %>
      <span id="photo_check" class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Ingrédients", amenities_menu_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "Address", location_menu_path, class: "sidebar-link active" %>
    <% if !@menu.address.blank? %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
</ul>
<hr/>

<% is_ready = !@menu.active && !@menu.price.blank? && !@menu.listing_name.blank? && !@menu.photos.blank? && !@menu.address.blank? %>

<%= form_for @menu do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "ENREGISTRER", id: "publish_button", class: "btn btn-normal btn-block", disabled: !is_ready %>
<% end %>
