<div class="row">
	<div class="col-md-3">
		<%= render 'menu_menu' %>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Liste de menus
			</div>

			<div class="panel-body">
				<div class="container">

					<%= form_for @menu do |f| %>
						<div class="row">
							<div class="col-md-4 select">
								<div class="form-group">
									<label>Type de Menu</label>
									<%= f.select :menu_type, [["Convivial", "Convivial"], ["Tentation", "Tentation"], ["Epicurie", "Epicurie"], ["Signature", "Signature"]], id: "menu_type", prompt: "Select...", class: "form-control" %>
								</div>
							</div>

							<!-- Ajouter cet snippet pout instant-->
							<div class="col-md-4 select">
								<div class="form-group">
									<label>Type de reservation</label>
									<%= f.select :instant, Menu.instants.map {|key, value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
								</div>
							</div>
							<!-- Fin de instant snippet -->

							<div class="col-md-4 select">
								<div class="form-group">
									<label>Type de Assiete</label>
									<%= f.select :assiete_type, [["Petit dejeuner", "Petit dejeuner"],["Dejeuner", "Dejeuner"], ["Dinner", "Dinner"], ["Apero", "Apero"], ["Entée", "Entrée"], ["Desert", "Desert"]], id: "assiete_type", prompt: "Select...", class: "form-control" %>
								</div>
							</div>

							<div class="col-md-4 select">
								<div class="form-group">
									<label>Convives</label>
									<%= f.select :servings, [["1", 1],["2", 2], ["3",3], ["4", 4], ["5", 5], ["6", 6], ["7",7],["8",8]], id: "servings", prompt: "Select...", class: "form-control" %>
								</div>
							</div>
							<br/><br/>

							<div>
								<%= f.submit "ENREGISTRER", class: "btn btn-normal" %>
							</div>
						</div><!-- End row -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

