<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Méthodes de payement", payment_method_path, class: "sidebar-link active"%></li>
			<li class="sidebar-item"><%= link_to "Méthodes de virement", payout_method_path, class: "sidebar-link"%></li>
			<li class="sidebar-item"><%= link_to "Systèmes de notifications", notification_settings_path, class: "sidebar-link"%></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">Méthode de payement</div>

			<div class="panel-body">
				<div class="container">

						<%= form_tag("/add_card", method: "post", id: "add-card") do %>
							
							<label>
					    		<span>Nom sur la carte</span>
					    		<input name="cardholder-name" class="field" placeholder="Jane Doe" />
					 	 	</label>

					 	 	<label>
							  	<span>Numéro de la carte</span>
							  	<div id="card-element" class="field"></div>
							</label>

							<!-- Display the error -->
							<div class="outcome">
							    <div class="error" role="alert"></div>
							</div>
							 <!-- Fim Display the error -->

							<% if current_user.stripe_id %>
								<button type="submit" class="btn btn-normal btn-block">
									CHANGER LA CARTE
								</button>
							<% else %>
								<button type="submit" class="btn btn-normal btn-block">AJOUTER UNE CARTE</button>
							<% end %>					
						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Stripe script -->
<!--
	On utilize la librarie de stripe, pour enoyer les requets du client 
	Stripe va receboir le requet e authentifie l'utilisateur 
	et ensuit va nos envoyer le token avec les informations de la carte du client
	La securité de la carte est guarantie de cette facon
-->
<script src="https://js.stripe.com/v3/"></script>
<script>
  $(function() {

    var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
    var elements = stripe.elements();

    var card = elements.create('card', {
      hidePostalCode: true,
      style: {
        base: {
          iconColor: '#F99A52',
          color: '#32315E',
          lineHeight: '48px',
          fontWeight: 400,
          fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
          fontSize: '15px',

          '::placeholder': {
            color: '#CFD7DF',
          }
        },
      }
    });

    card.mount('#card-element');

    function setOutcome(result) {

      var errorElement = document.querySelector('.error');
      errorElement.classList.remove('visible');

      if (result.token) {
        var form = $('#add-card');
        form.append($('<input type="hidden" name="stripeToken">').val(result.token.id));
        form.get(0).submit();
      } else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }

    card.on('change', function(event) {
      setOutcome(event);
    });

    $('#add-card').on('submit', function(e) {
      e.preventDefault();
      var extraDetails = {
        name: $('input[name=cardholder-name]').value
      };
      stripe.createToken(card, extraDetails).then(setOutcome);
    });

  });
</script>