<!-- Code snipet pour rendre la recherche plus fluide avec Ajax-->
<% menus.each do |menu| %>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading preview">
				<%= image_tag menu.cover_photo(:medium) %>
			</div>

			<div class="panel-body">
				<%= link_to menu.listing_name, menu %></br>
				<%= menu.price %>€ - <%= menu.menu_type %>
				<div id="star_<%= menu.id %>"></div><%= pluralize(menu.average_rating, "Note") %>
			</div>
		</div>
	</div>
	<script>
	    $('#star_<%= menu.id %>').raty({  
	        path: '/assets',
	        readOnly: true,
	        score: <%= menu.average_rating %>
	    });
	</script>
<% end %>

