<div class="row">
	<div class="col-md-3">
		
		<ul class="sidebar-list">
			<li class="sidebar-item"> <%= link_to "Ma liste de products", products_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Mes prestations", vos_prestations_path, class: "sidebar-link" %></li>
      	<li class="sidebar-item"><%= link_to "Mes commandes", vos_commandes_path, class: "sidebar-link" %></li>

		</ul>

	</div>
	</br>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Menus

			</div>

			<div class="panel-body">
				<% @products.each do |product| %>
					<!-- Pour chaque product qu'on a on va creer une ligne: -->
					<div class="row">

						<div class="col-md-2">
							<%= image_tag product.cover_photo(:thumb) %>

						</div>

						<div class="col-md-7">
							<h4><%= product.listing_name %></h4>
						</div>
						<div class="col-md-3 right">
							<%= link_to "CHANGER", listing_product_path(product), class: "btn btn-form" %>
						</div>

					</div>
					<hr/>
				<% end %>

				
					<% if current_user.products.length == 0 %>
						
						Vous n'avez pas crée aucun product encore, devenez chef pour partager vos création avec nos clients.
					

						<%= link_to "Proposer vos products", new_product_path, class:"btn btn-normal"%>
					<% end %>
				

			</div>
		</div>
	</div>
</div>
