<% if @chef_reviews.count == 0 %>
	<div class="text-center">
		<h4>Il n'y a aucun note </h4>
	</div>
<% else %>
	<% @chef_reviews.order(id: :desc).each do |r| %>
		</hr>

		<div class="row">
			<div class="col-md-3 text-center">
			<% image_tag avatar_url(r.chef), class: "img-circle avatar-medium" %><br/><br/>
			<strong><%= r.chef.fullname %></strong>
			</div>

			<div class="col-md-9">
				<div><%= r.star %></div>
				<% if current_user && current_user == r.chef %>
					<span class="pull-right">
					<%= link_to r, method: :delete, data: {confirm: "Vous en etes sur?"} do  %>
						<i class="fa fa-trash-o fa-lg"></i>
					<% end %>
					</span>
				<% end %>
			</div>
			<div><%= r.created_at.strftime("%v") %></div>
			<div><%= r.comment %></div>
		</div>

		<script>
	        $('#star_<%= r.id %>').raty({  
	          path: '/assets',
	          readOnly: true,
	          score: <%= r.star %>
	        });
      	</script>
	<% end %>

<% end %>